.vehicDepTime {
    padding: 5px 5px 0px 5px;
}

.vehicLine {
    padding: 5px 2px 0px 5px;
}

.vehicleDestination {
    padding: 5px 5px 0px 2px;
}

.remarks {
    color: var(--color-text-dimmed);
    padding: 5px 5px 0px 2px;
    font-style: italic;
}

.timeDelay {
    color: red;
}
.timeEarlier {
    color: green;
}

.xxsmall {
    font-size: calc(var(--font-size-xsmall) * 0.75);
    line-height: 1.275;
}

.error {
    color: red;
    font-size: calc(var(--font-size-xsmall));
    padding: 5px;
}